version: '3.8'

services:
  mongodb:
    image: mongo:latest
    container_name: hrms-mongodb
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: hrms_lite
    volumes:
      - mongodb_data:/data/db

  backend:
    build: ./backend
    container_name: hrms-backend
    ports:
      - "8000:8000"
    environment:
      - MONGO_URL=mongodb://mongodb:27017
    depends_on:
      - mongodb
    volumes:
      - ./backend:/app

  frontend:
    build: ./frontend
    container_name: hrms-frontend
    ports:
      - "4200:4200"
    depends_on:
      - backend

volumes:
  mongodb_data:
